<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645541413446-tah86qqlmc25jmks70uuavireg0e5h1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645541413446-tah86qqlmc25jmks70uuavireg0e5h1m</string>
	<key>API_KEY</key>
	<string>AIzaSyBSNES90VMjrgxemf3rJbyKQ8Vz2kHomNc</string>
	<key>GCM_SENDER_ID</key>
	<string>645541413446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterExpertFinalSubmission</string>
	<key>PROJECT_ID</key>
	<string>ditonton-bbe56</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-bbe56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645541413446:ios:d547c64708773fd63a0047</string>
</dict>
</plist>